<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>pageOneEdit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> Enter Html code</ion-card-header>
    <ion-textarea autoGrow="true" placeholder="enter your html code .." [(ngModel)]="code">
    </ion-textarea>
    <ion-button color="primary" expand="full" size="small" (click)="submitHtmlCode()">Update Html Code</ion-button>
  </ion-card>
  <br>
  <!-- <h3>From Server</h3>
  <div class="top">
    <div [innerHtml]="data"></div>
  </div> -->

  <h3>Sample code</h3>
    <ion-row class="ion-padding">
      <ion-col size="5">
        <div class="card" 
        style="width: 312px;
        height: auto;
        background-color: aliceblue;
        border-radius: 6px;
        padding: 10px;
        box-shadow: 0px 3px 7px 0px grey;
        margin: 30px;
        "
        >
        <p>{{date|date:'medium'}}</p>
        <h3 style="color:blueviolet">Comple Design Code</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, quod.</p><br>
        <b>-- By A. Dutta</b><br> <br>
        <small> Consectetur adipisicing elit. Voluptatum officiis corporis illum. Quibusdam dolore esse autem nobis exercitationem recusandae hic!</small>
        </div>
      </ion-col>
      <ion-col size="7">
        <ion-card class="ion-padding">
          {{
            codeOne
          }}
        </ion-card>
      </ion-col>
    
    <ion-col size="5">
      <div class="card" 
      style="width: 312px;
      height: auto;
      background-color: aliceblue;
      border-radius: 6px;
      padding: 10px;
      box-shadow: 0px 3px 7px 0px grey;
      margin: 30px;
      "
      >
      <img style="height:230px" src="https://media.istockphoto.com/photos/clouds-on-sky-picture-id184103864?b=1&k=20&m=184103864&s=612x612&w=0&h=VscWCctRLYK1uh-XIuI-FbqfyTWjfyK04aWUV5aiqVQ=" alt="">
      <p>{{date|date:"mediumDate"}}</p>
      <h3 style="color:blueviolet">Comple Design Code</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, quod.</p><br>
      <small> Consectetur adipisicing elit. Voluptatum officiis corporis illum. Quibusdam dolore esse autem nobis exercitationem recusandae hic!</small>
      <br>
      <b>-- By A. Dutta</b>  
    </div>
    </ion-col>
    <ion-col size="7">
      <ion-card>
        {{
          codeTwo
        }}
      </ion-card>
    </ion-col>
  </ion-row>


<div style="height:300px"></div>
</ion-content>
